 button {
                height: 100px;
                width: 100px;
                border-radius: 50%;
                background-color: #E83556;
                cursor: pointer;
                color: white;
            }
            div {
                width: 100%;
                height: 100px;
                background-color: #E83556;
            }
            * {
                border: 2px solid #dedede;
                padding: 15px;
                margin: 15px;
            }
 .image {
                max-width: 99%;
                max-height: 99%;
            }
